* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.7em;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.container {
  max-width: 1170px;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
  overflow: auto;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
  overflow: auto;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

ion-icon {
  font-size: 64px;
}

.clear {
  clear: both;
}
