/* smartphone */
@media only screen and (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.75rem;
  }

  #who .who-img {
    display: none;
  }

  #who {
    display: block;
  }

  #clients .items img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact {
    flex-direction: column;
  }

  #contact .map {
    height: 200px;
  }
}

/* what we do */
#what .items {
  display: block;
  padding: 0.5rem;
}
